# Rust
/target/
**/*.rs.bk
Cargo.lock

# C# / .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.vshost.*
.vs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Project specific
rust_enip_driver.dll